services:
  default:
    image: "railway/java:17"
    envs:
      - name: JAVA_TOOL_OPTIONS
        value: "-Xmx512m"
    port: 8080
buildCommand: "mvn clean install"
publish:
  image: "railway/java:17"
  command: "java -jar target/chuck-norris-jokes-0.0.1-SNAPSHOT.jar"
  memory: 512MB

