:root {
    /*--github-color: #181717;*/
    --github-color: #28A745;
}

body {
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('/images/home-page.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: crimson;
    font-size: xxx-large;
}

p {
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
}

.styled-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.styled-button:hover {
    background-color: #45a049;
}

/* ikonki */
.wrapper a {
    color: #fff;
}

.hover-fx-5 {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: #333;
    transition: 300ms;
}

.hover-fx-5 {
    background-color: var(--github-color);
}

.hover-fx-5:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.hover-fx-5:hover:after {
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px var(--github-color),
    0px 0px 50px var(--github-color),
    0px 0px 100px var(--github-color);
}

/* kontener z ikonkami */
.icons-container {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.icons-container a {
    margin: 0 25px;
}