<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - Chuck Norris Jokes</title>
  </head>
  <body>
    <h1>CHUCK NORRIS JOKES APPLICATION</h1>
    <p>Ta aplikacja nie ma na celu urażenia kogokolwiek, a zwłaszcza pana Czaka:)</p>

    <a th:href="@{/random/show}">
      <button type="button">Generuj randomowy żart</button>
    </a>

    <br/>

    <a th:href="@{/random/show/full}">
      <button type="button">Generuj randomowy żart - full</button>
    </a>

    <br/>

    <a th:href="@{/random/categories}">
      <button type="button">Kategorie</button>
    </a>

  </body>
</html>
