<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Joke</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}" />

</head>
<body>

    <div class="show-container">
        <h2>Chuck Norris Random Joke</h2>
        <p th:text="${joke}"></p>
        <button class="show-button" onclick="speakJoke()">Speak!</button>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function speakJoke() {
                var jokeText = /*[[${joke}]]*/ '';
                // Wywołaj endpoint na serwerze, aby odtworzyć dźwięk
                fetch('/playText?text=' + encodeURIComponent(jokeText), { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
            /*]]>*/
        </script>
    </div>

</body>
</html>
